<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
<title>Agregar Juego</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
		<h2 class="mb-5">Nuevo Juego</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/games/addcomp}" th:object="${tsscGame}"
					method="post">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="nGroups" class="col-form-label">Grupos</label> <input
								type="number" th:field="*{nGroups}" class="form-control" id="nGroups"
								placeholder="4"><span th:if="${#fields.hasErrors('nGroups')}"
th:errors="*{nGroups}" class="text-danger"></span>		
						</div>
						
						<div class="form-group col-md-6">
							<label for="nSprints" class="col-form-label">Sprints</label> <input
								type="number" th:field="*{nSprints}" class="form-control" id="nSprints"
								placeholder="4"><span th:if="${#fields.hasErrors('nSprints')}"
th:errors="*{nSprints}" class="text-danger"></span>		
						</div>
						
						<input
								type="hidden" th:field="*{id}"  class="form-control" id="id"
								placeholder="Id">
					</div>
					
					<div class="row">
						<div class="col-md-4 mt-3">
							<input type="submit" name="action" class="btn btn-primary" value="Atras">
						</div>
						<div class="col-md-4 mt-3">
							<input type="submit" name="action" class="btn btn-success" value="Agregar">
						</div>
						<div class="col-md-3 mt-3">
							<input type="submit" name="action" class="btn btn-secondary" value="Cancel">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>



</body>
</html>